/* PHASE 3: Layout */


.content {
  display: flex;
  background-color: white;
  width: 900px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.content-sidebar {
  justify-content: flex-start;
  width: 200px;
  min-height: 200px;
  padding: 20px;
    border-right: 1px solid #ccc;
}

.content-main {
  justify-content: flex-end;
  width: 620px;
  min-height: 200px;
  padding: 20px;

}
